<div>   
    <h2 translate="canton.home.title">Cantones</h2>
    <jh-alert></jh-alert>  
    <kendo-grid
         k-data-source="ctrl.gridDataSource" 
         k-sortable="true"
         k-resizable="true" 
         k-groupable="false" 
         k-reorderable="false"
         k-filterable="false" 
         k-scrollable="true" 
         k-selectable="true"
         k-editable="'inline'" 
         k-columns="ctrl.gridColumns"
         k-toolbar = "ctrl.toolbar"
         k-pageable="true">
    </kendo-grid>   
</div>
