<div>  
    <h2 translate="user.home.title">Users</h2>
    <jh-alert></jh-alert>   
    <kendo-grid
        options="ctrl.gridOptions"
         k-data-source="ctrl.gridDataSource" 
         k-sortable="true"
         k-resizable="true" 
         k-groupable="false" 
         k-reorderable="false"
         k-filterable="false" 
         k-scrollable="true" 
         k-selectable="true"        
         k-columns="ctrl.gridColumns"
         k-toolbar = "ctrl.toolbar"      
         k-pageable="true">
    </kendo-grid>  
    <div id="user-dialog"></div> 
</div>


<script type="text/x-kendo-template" id="template">        
    
        <div class="k-edit-label">
           <label translate="user.field.first_name" for="first_name">First Name</label> 
        </div>           
        <div class="k-edit-field">            
            <input type="text" class="k-input k-textbox" name="FirstName" data-bind="value:firstName"/>  
        </div> 
        <div class="k-edit-label">
            <label translate="user.field.last_name" for="last_name">Last Name</label>    
        </div> 
        <div class="k-edit-field">
            <input type="text" class="k-input k-textbox" name="LastName" data-bind="value:lastName"/>  
        </div> 
        <div class="k-edit-label">
            <label translate="user.field.username" for="username">Login</label>  
        </div> 
        <div class="k-edit-field">       
            <input type="text" id="username" name="username" class="k-textbox" placeholder="User name" 
            data-bind="value:username" required validationMessage="Enter {0}"/>              
        </div>        
        <div class="k-edit-label">
            <label translate="user.field.role" for="role">Role</label>   
        </div>  
        <div class="k-edit-field">
            <select name="role"
            kendo-combo-box
            data-bind="value:role"
            k-data-value-field="_id"
            k-data-text-field="name"
            k-data-source="ctrl.catalogRole" required/></select>                
        </div>                  
        
        <div class="k-edit-label">
            <label translate="user.field.email" for="email">Email</label>  
        </div> 
        <div class="k-edit-field">  
         <input type="email" id="email" name="email" class="k-input k-textbox" placeholder="e.g. myname@example.net"  
         required data-email-msg="Email format is not valid" data-bind="value:email"/>          
        </div>                   
      
        <div class="k-edit-label"> 
          <label translate="user.field.status" for="status">Active</label>  
        </div> 
        <div class="k-edit-field">
        <input type="checkbox" 
             name="status"             
             data-bind="value:active"
             data-role="checkbox">
        </div>        
        <div class="k-edit-label"> 
         <label translate="user.field.change_password" for="change_password">ChangePassword</label>
        </div> 
        <div class="k-edit-field">
        <input type="checkbox" 
                 name="change_password"                                
                 data-bind="value:changepass"
                 data-role="checkbox">
        </div>                    
        <div class="k-edit-label">
            <label translate="user.field.password" for="password">Password</label>
        </div>
        <div class="k-edit-field">
            <input class="k-input k-textbox" type="password" name="password" id="password" ng-model="user.password" ng-required="isNew"> 
        </div>       
        <div class="k-edit-label">
            <label translate="user.field.confirm_password" for="confirm_password">Confirm Password</label>
        </div> 
        <div class="k-edit-field">
            <input class="k-input k-textbox" type="password" name="confirm_password" id="confirm_password" ng-model="password2" pw-check="password"> 
        </div>
  
</script>